*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Orbitron", serif;
    line-height: 1.6;
    background-color: #0F110C;
}
/* styling header */
header{
    width: 100%;
    height: 50px;
    background-color: #140152;
    position: sticky;
}

.container {
    display: inline-block;
    width: calc(100% - 40px);
    height: 100%;
}

.logo{
    display: inline-block;
    width: 50px;
    height: 100%;
}

.logo img{
    width: 50px;
    height: auto;
}

.menu{
    display: inline-block;
    width: calc(100% - 50px);
    height: 100%;
    font-family: "Orbitron", serif;
    vertical-align: top;
    text-align: right;
}


.menu a{
    text-decoration: none;
    color: #8D9EC6;
    text-transform: capitalize;
    font-size: 22px;
    padding-right:25px;
    line-height: 50px;
    font-weight: bolder;

}
/* styling banners */
.banner{
    width: 100%;
    height: auto;
    background-color: #0F110C;
}

.banner img{
    width: 100%;
    height: auto;
}

/* STYLING INDEXPAGINA */

/* achtergrond instellen */
.banneri {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #0F110C;
    background: url(/assets/img/banneri.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* overlay zodat de achtergrond iets donkerder wordt */
.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* divs om de titel op de juiste plek te krijgen */
.divcentreren1 {
    width: 100%;
    height: 100%;
    display: table;
}

.divlinkscenter1 {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: top;
    text-align: left;
}

.divlinkscenter2{
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
}

/* styling titeltekst (mijn naam) */
.divlinkscenter2 h1{
    text-transform: capitalize;
    font-family: "Orbitron", serif;
    font-weight: bolder;
    font-size: 150px;
    font-stretch: semi-expanded;
    color: #0F110C;
    text-align: center;
}

.divlinkscenter2 h2{
    text-transform: capitalize;
    font-family: "Orbitron", serif;
    font-weight: bolder;
    font-size: 75px;
    font-stretch: semi-expanded;
    color: #0F110C;
    text-align: center;
}

/* styling voorstellingstekst */
.achtergrondv{
    width: 100%;
    height: 200px;
    background-color: #0F110C;
    display: block;
}

.votekst{
    width: 45%;
    height: 200px;
    text-align: left;
    display: inline-block;
}

.votekstr p{
    font-family: "Orbitron", serif;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    font-weight: normal;
    color: #8D9EC6;
}

.votekst h3{
    font-family: "Orbitron", serif;
    line-height: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #8D9EC6;
}

.votekst p{
    font-family: "Orbitron", serif;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    font-weight: normal;
    color: #8D9EC6;
}

/* styling en animatie skill bars */
.achtergrondS{
    width: 100%;
    height: auto;
    background: #0F110C;
    display: block;
}

/* container over die de grote van de bars bepaald */
.skills{
    background: #0F110C;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 8px;
}

.skills h3{
    font-family: "Orbitron", serif;
    line-height: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #8D9EC6;
}

/* styling die de boxen naar links verplaatst */
.skills .skill-box {
    width: 100%;
    margin: 25px 0;
}

/* styling voor de titels per skillbar */
.skill-box .stitel{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #8D9EC6;
}

/* styling voor het deel dat leeg is van de skillbars */
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

/* styling voor de animatie van de skillbar */
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    background: #8D9EC6;
    animation: progress 1.4s ease-in-out forwards;
    border-radius: 6px;
    opacity: 0;
}

/* styling van de groote van de skillbars (percentage vande balk dat moet worden ingekleurd) */
.skill-per.html{
    width: 35%;
    animation-delay: 15ms;
}

.skill-per.css{
    width: 25%;
    animation-delay: 30ms
}

.skill-per.py{
    width: 45%;
    animation-delay: 45ms;
}

.skill-per.js{
    width: 0;
    animation-delay: 60ms;
}

@keyframes progress{
    0%{
        width: 0%;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

/* positie en styling van de percentages */
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -18px;
    font-size: 9px;
    font-weight: 600;
    color: #8D9EC6;
}

/* STYLING VAN CONTACTPAGINA */
.contact {
    font-family: "Orbitron", serif;
    background-color: #0F110C;
    width: 100%;
    height: auto;
    text-align: center;
}

.contact h1{
    font-family: "Orbitron", serif;
    font-size: larger;
    font-weight: bolder;
    color: #8D9EC6;
}

.contact label{
    font-family: "Orbitron", serif;
    font-size: normal;
    font-weight: bold;
    color: #8D9EC6;
}
.contact input{
    width: 50%;
    height: auto;
    background-color: #140152;
}

/* STYLING PROJECTENPAGINA */
/* Styling achtergrond projecten pagina */
.projecten {
    width: 100%;
    height: 100vh;
    background-color: #0F110C;
    display: table;
}

/* styling per reeks */
.projectenreeks{
    display: table-cell;
    width: 100%;
}

/* styling projecten */
.project1{
    width: 30%;
    height: 500px;
    display: inline-block;
    border: 5px solid #8D9EC6;
    margin-left: 10px;
    position: absolute;
}

.project2{
    width: 30%;
    height: 500px;
    display: inline-block;
    border: 5px solid #8D9EC6;
    margin-left: 33%;
    position: absolute;
}

/* styling projectfoto */
.pfoto {
    width: auto;
    height: 50%;
    text-align: center;
    background-color: #0F110C;
}

.pfoto img{
    width: 100%;
    height: 100%;
}

/* styling project titel */
.ptitel{
    width: 100%;
    height: auto;
    text-align: center;
}

.ptitel h3{
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: bold;
    color: #8D9EC6;
}

/* styling project tekst */
.ptekst{
    width: 100%;
    height: auto;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

.ptekst p{
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: lighter;
    color: #8D9EC6;
}

/* styling voor de link naar de projectpagina */
.plink{
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

.plink a{
    font-family: "Orbitron", serif;
    font-size: bolder;
    font-weight: lighter;
    color: #8D9EC6;
    text-decoration: none;
    text-transform: uppercase;
}
/* styling content van mijn projectpaginas */
.content{
    width: 100%;
    height: auto;
    background-color: #0F110C;
}

.content p{
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: lighter;
    color: #8D9EC6;
}

.content ol{
    margin-left: 50px;
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: lighter;
    color: #8D9EC6;
}

.content ul{
    margin-left: 50px;
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: lighter;
    color: #8D9EC6;
}

.content a{
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: lighter;
    color: #8D9EC6;
    text-decoration: none;
}

.content h2{
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: bolder;
    color: #8D9EC6;
    text-decoration: none;
}

.content h3{
    font-family: "Orbitron", serif;
    font-size: medium;
    font-weight: bolder;
    color: #8D9EC6;
    text-decoration: none;
}

/* STYLING SOLAROLYMPIADE PAGINA*/
/* styling titel */
.SOtitel {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
}

.SOtitel h1{
    font-family: "Orbitron", serif;
    font-size: 80px;
    font-weight: bolder;
    color: #8D9EC6;
}

/* STYLING FOOTER */
footer {
    padding: 3em;
    background-color: #140152;
    color: white;
    text-align: center;
    margin-top: auto;
}

.instagram {
    width: 40px;
    height: auto;
    display: inline-block;
}

.instagram img{
    width: 40px;
    height: auto;
}

.telefoon {
    width: 40px;
    height: auto;
    display: inline-block;
}

.telefoon img{
    width: 40px;
    height: auto;
}

.email {
    width: 40px;
    height: auto;
    display: inline-block;
}

.email img{
    width: 40px;
    height: auto;
}


/* color pallette #140152(federal blue) #8D9EC6(vista blue) #0F110C(night)*/