*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Orbitron", serif;
    line-height: 1.6;
    color: #333;
    background: white;
    /* flex */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    width: 100%;
    height: 50px;
    background-color: #140152;
    position: sticky;
}

.container {
    display: inline-block;
    width: calc(100% - 40px);
    height: 100%;
}

.logo{
    display: inline-block;
    width: 50px;
    height: 100%;
}

.logo img{
    width: 50px;
    height: auto;
}

.menu{
    display: inline-block;
    width: calc(100% - 50px);
    height: 100%;
    font-family: "Orbitron", serif;
    vertical-align: top;
    text-align: right;
}


.menu a{
    text-decoration: none;
    color: #8D9EC6;
    text-transform: capitalize;
    font-size: 22px;
    padding-right:25px;
    line-height: 50px;
    font-weight: bolder;

}

.contact {
    font-family: "Orbitron", serif;
 }

footer {
    padding: 3em;
    background-color: #140152;
    color: white;
    text-align: center;
    margin-top: auto;
}

.instagram {
    width: 40px;
    height: auto;
    display: inline-block;
}

.instagram img{
    width: 40px;
    height: auto;
}

.telefoon {
    width: 40px;
    height: auto;
    display: inline-block;
}

.telefoon img{
    width: 40px;
    height: auto;
}

.email {
    width: 40px;
    height: auto;
    display: inline-block;
}

.email img{
    width: 40px;
    height: auto;
}


/* color pallette #140152(federal blue) #8D9EC6(vista blue) #0F110C(night)*/